<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <classes>
  <class name="com.atmecs.newtour.test.NewTourDemo"></class>
  </classes>
  </test>
   <test thread-count="5" name="Test1">
  <classes>
  <class name="com.atmecs.newtour.link.LinkTest"></class>
  </classes>
  </test> 
  <test thread-count="5" name="Test2">
  <classes>
  <class name="com.atmecs.newtour.login.Login"></class>
  </classes>
  </test>
   <test thread-count="5" name="Test3">
  <classes>
  <class name="com.atmecs.newtour.booking.Booking"></class>
  </classes>
  </test>
  
   <test thread-count="5" name="Test4">
  <classes>
  <class name="com.atmecs.newtour.select.Confirmation"></class>
  </classes>
  </test>
   <!-- Test -->
</suite> <!-- Suite -->
